/* Front end styles */

.wp-block-a8c-dataviz-twin-bar-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}

.wp-block-a8c-dataviz-twin-bar-list-item {
	> .block-editor-rich-text {
		width: 20%;
	}
}

.wp-block-a8c-dataviz-twin-bar-list-item__label {
	width: 100%;
	padding-right: 5px; // minimum space

}

.wp-block-a8c-dataviz-twin-bar-list-item__controls {
	display: flex;
	flex-direction: row;
}
