/* Front end styles */

.wp-block-a8c-dataviz-twin-bar-list-item {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;

	@media (min-width: 300px) {
		flex-flow: nowrap;
	}
}

.wp-block-a8c-dataviz-twin-bar-list-item {
	> .block-editor-rich-text {
		min-width: 20%;
	}
}

.wp-block-a8c-dataviz-twin-bar-list-item__label {
	width: 100%;
	padding-right: 5px; // minimum space

}

.wp-block-a8c-dataviz-twin-bar-list-item__controls {
	display: flex;
	flex-direction: row;
}
