/* Front end styles */

.wp-block-a8c-dataviz-bar-chart-bars {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;

	@media (min-width: 300px) {
		flex-flow: nowrap;
	}
}

.wp-block-a8c-dataviz-bar-chart-bars {
	> .block-editor-rich-text {
		min-width: 20%;
	}
}

.wp-block-a8c-dataviz-bar-chart-bars__label {
	width: 100%;
	padding-right: 5px; // minimum space

}

.wp-block-a8c-dataviz-bar-chart-bars__controls {
	display: flex;
	flex-direction: row;
}
